body {
  padding-top: 50px;
  padding-bottom: 30px;
}
/*
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
*/
.btn-nav.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-nav {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-color: #ccc;
  color: #aba2a2;
  margin-top: 7px;
}

.btn-nav:hover,
.btn-nav:focus {
  background-color: rgba(0, 0, 0, 0);
  background-position: 0 -15px;
  color: #fff;
}

.jumbotron {
  padding: 15px;
}

.navbar {
  margin-bottom: 0;
}

.boxed{
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

.lined {
  outline: 1px solid;
  outline-color: #dddad6;
  cursor: pointer;
  color: #8A8787;
}

.lined:hover,
.lined:focus {
  outline-width: 3px;
  color: #574D4D;
}

.widget-title {
  padding-top: 10px; 
  padding-left: 10px;   
}

.text-metric {
  height: 300px;
  padding-top: 40px;
  text-align: center;
  padding-left: 10px; 
  font-family: Impact; 
  color: #403939;
}

.text-metric .value {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
  font-size: 120px;
}

.text-metric .units {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
  font-size: 64px; 
}

.new-row {
  margin-top: 75px;
}

